<!-- Header/Nav (shared) -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="/assets/images/ghb-white.png" alt="GHB Logo" height="30" class="me-2" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <!-- Local section jumps for Home -->
                <li class="nav-item d-none d-lg-block"><a href="/#datacreation" class="nav-link">Data Creation</a></li>
                <li class="nav-item d-none d-lg-block"><a href="/#spatial-data" class="nav-link">Spatial Data</a></li>
                <li class="nav-item d-none d-lg-block"><a href="/#samples" class="nav-link">Samples</a></li>

                <!-- Always available pages -->
                <li class="nav-item"><a href="/pages/apps.html" class="nav-link" data-nav="apps">Apps</a></li>
                <li class="nav-item"><a href="/blogs/blog.html" class="nav-link" data-nav="blog">Articles</a></li>
            </ul>
        </div>
    </div>
</nav>